# Dependency directories
node_modules/
/.pnp
.pnp.js

# Build outputs
/build
/dist

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs and editors
/.idea
/.vscode
*.sw?
*~
*.log

# Testing
/coverage

# Production
/public

# OS files
Thumbs.db

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Lock files
yarn.lock
package-lock.json
pnpm-lock.yaml

# dotenv environment variables file
.env
