.block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    background-color: white;
    border-radius: 8px;
    max-width: 800px;
    margin: auto;
}

.saveButton{
    max-width: 150px;
    align-self: center;
}