.block {
    background-color: white; /* Pure white background */
    border-radius: 8px; /* Rounded corners for the container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    padding: 20px; /* Padding around the table */
    margin: 20px; /* Center the block with margin */
}

table {
    width: 100%; /* Table width to fill the container */
    border-collapse: collapse; /* Collapses border to avoid double lines */
}

.block h2{
    padding: 0px 15px;
}

.saveButtonDiv {
    margin: 20px;
}