.formContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;

}

.centeredForm {
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.formObjects{
    display: flex;
    flex-direction: row;

}
.inputsDiv{
    display: flex;
}
.inputGroup {
    margin: 20px 30px;
}


label {
    font-weight: 700;
}
.searchButton{
    width: 200px;
    align-self: center;
}