.tableContainer {
    overflow: auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 95%;
    height: auto;
    margin: 20px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.inputShareSize, .selectShareholder {
    width: 15em;
}


.editButtonCell {
    white-space: nowrap;
    text-align: right;
    padding-right: 20px;
}

.editButton {
    padding: 6px 12px;
    margin: 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: max-content;
}

.saveButtonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}



